/* Tema claro */
.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Tema oscuro */
.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
}



body{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 20px;
}




a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(#FFD700);
} 

footer {
  justify-content:space-around;
  padding: 5px;
  text-align: center;
  position: relative; /* Esto es opcional, dependiendo de si quieres un footer fijo */

  
}

footer > img{
  width: 200px;
  margin: 0;
}

 a > img{
  width: 20px;
  margin: 0;
 
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
  
}

form{
    display: flex;
    flex-direction: column; /* Disposición en columna */
    gap: 15px; /* Espacio entre filas de campos */
    margin: 0 auto;
    width: 300px;
}

form > div {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  gap: 10px;
  margin: 0 auto;
  padding: 5px;

  
}


form > button{
  border-radius: 10px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card p {
  margin: 1px 0;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #00000096;
  color: white;
  transition: filter 0.3s ease;
}
.dark > a {
  color: white;
  transition: filter 0.3s ease;
  
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.light > a {

  color: black;
  transition: filter 0.3s ease;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.light {
  background-color: white;
  color: black;
  transition: filter 0.3s ease;
}

img {

  width: 100%;
}


#root {
  display: flex;
  flex-direction: column;

}

main {
  flex: 1; /* Esto permite que el main ocupe todo el espacio restante */
}

/* Estilos generales */
.dark-theme {
  background-color: #000000;
  color: #fff;
  
}

.light-theme {
  background-color: #fff;
  color: #000;
 
}

/* Asegúrate de aplicar esto si es necesario */
.icon {
  transition: filter 0.3s ease;
}



/* Tema claro */
body.light-theme {
  --link-color: #000;
  --background-color: #fff;
  --text-color: #000;
  
}

/* Tema oscuro */
body.dark-theme {
  --link-color: #fff;
  --background-color: #000;
  --text-color: #fff;
  
}

/* Estilo para enlaces */
a {
  color: var(--link-color);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  transition: filter 0.5s ease, color 0.5s ease;
}

.fav-card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.fav-card p {
  margin: 1px 0;
}

.fav-card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid-fav {

  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 300px;

}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/* Estilos generales para el botón */
button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
}

/* Estilos para el botón en el tema claro */
.light-theme button {
  background-color: black;
  color: white;
}

/* Estilos para el botón en el tema oscuro */
.dark-theme button {
  background-color: white;
  color: black;
  
}

